# Dependencias
node_modules/
.pnpm-store/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Build output
dist/
.astro/

# Cache
.cache/
.vite/
.turbo/

# Environment variables
.env
.env.production
.env.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Otros
*.log